<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
	<targets>
		<!-- If full path is not specified, will log to %SystemRoot% -->    
		<target name="logfile" xsi:type="File" fileName="isc.onec.service.log" layout="${longdate} [${threadid}] ${message} ${exception:format=tostring}"/>
		<target name="eventlog" xsi:type="EventLog" log="Application" source="Caché One C Bridge" layout="${longdate} [${threadid}] ${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="eventlog" />
	</rules>
</nlog>
