<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
    <targets>
        <target name="logfile" xsi:type="File" fileName="c:\tmp\isc.onec.adapter.log" layout="${longdate} ${message} ${exception:format=tostring}"/><br/>
			 <!-- 
			 format - Format of the output. Must be a comma-separated list of exception properties: Message, Type, ShortType, ToString, Method, StackTrace. <br/>
			 This parameter value is case-insensitive.
			  separator - Separator used to concatenate parts specified in the Format.<br/>
			  -->
        <target name="eventlog" xsi:type="EventLog" log="Application" source="isc.onec.adapter" layout="${longdate} ${message} ${exception:format=tostring}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
        <logger name="*" minlevel="Info" writeTo="eventlog" />
    </rules>
</nlog>